{% load url from future %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>ClowdFlows - A Data Mining Workflow Platform</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <link href="{{STATIC_URL}}bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="{{STATIC_URL}}website-css/style.css" rel="stylesheet">
    <link href="{{STATIC_URL}}js/fancybox/jquery.fancybox-1.3.4.css" rel="stylesheet">
    <link href="{{STATIC_URL}}css/signuplogin.css" rel="stylesheet">
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
    <link href="{{STATIC_URL}}bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Condiment' rel='stylesheet' type='text/css'>

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-2921908-12']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>    
    
  </head>

  <body>


    
       <div class="navbar navbar-fixed-top">
       <div class="navbar-inner">
        <div class="container">

          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="{% url 'website index' %}">ClowdFlows</a>
          <div class="nav-collapse">
            <ul class="nav pull-right">

              <li class="active"><a href="{% url 'website index' %}">Home</a></li>
              <li><a href="{% url 'the index' %}" class="{% if not user.is_authenticated %}must_login{% endif %}">Start working</a></li>
              <li><a href="{% url 'existing workflows' %}">Explore workflows</a></li>
              <li><a class="{% if not user.is_authenticated %}must_login{% endif %}" href="{% if user.is_authenticated %}{% url 'logout' %}{% endif %}{% if not user.is_authenticated %}{% url 'website index' %}{% endif %}">{% if not user.is_authenticated %}Log in{% endif %}{% if user.is_authenticated %}Log out{% endif %}</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>

    </div>

    <div class="container">
    {% block 'container' %} 
      
      {% endblock %}

      <hr>

      <footer>
        
    
        <div class="row">
        
            <div class="span3" style="text-align:center;">
        
				<a class="img" href="http://project-first.eu/">
					<img alt="FIRST Logo" src="{{STATIC_URL}}website-images/FIRSTLogoSmall.gif" style="vertical-align: middle;">
				</a>
                
            </div>
            <div class="span3" style="text-align:center;">
            
				<a class="img" href="http://www.ijs.si/">
					<img alt="JSI Logo" src="{{STATIC_URL}}website-images/JSILogoSmall.gif">
				</a>

            </div>
            <div class="span3" style="text-align:center;">                
                
				<a class="img" href="http://www.focproject.net/">
					<img alt="FOC Logo" src="{{STATIC_URL}}website-images/foc_logo_200x50.gif" width="200" height="50">
				</a>
                
            </div>
            <div class="span3" style="text-align:center;">

            
				<a class="img" href="http://cordis.europa.eu/info-management/">
					<img alt="EU Logo" src="{{STATIC_URL}}website-images/EULogoSmall.gif" style="vertical-align: middle;">
				</a>
                
            </div>                
                
        </div>
        
        <hr>
        
			<p><center>&copy; 2012 <a href="http://kt.ijs.si">Department of Knowledge Technologies</a>. Co-funded by the <a href="http://cordis.europa.eu/info-management/">European Union</a>.<br><br><a href="http://kt.ijs.si/janez_kranjc/">About the author</a>.<br>
            </center></p>
                    
  
        
      </footer>

    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="{{STATIC_URL}}bootstrap/js/bootstrap.js"></script>
    <script src="{{STATIC_URL}}js/fancybox/jquery.fancybox-1.3.4.js"></script>
    <script src="{{STATIC_URL}}js/signuplogin.js"></script>
    <div style="position:absolute;top:50%;left:50%;display:none;z-index:20;" class="ajax-loader">
        <img src="{{STATIC_URL}}images/ajax-loader-big.gif">
    </div>
  </body>
</html>