# OS
.DS_Store

# Python
*.pyc
*.pyo

# Common IDEs
*.swp
.idea/
.buildpath
.project
.settings
atlassian-ide-plugin.xml
*.sublime-*

# Project
/mothra/local_settings.py
/mothra/public/static
/mothra/public/media
/mothra/public/files
/mothra/backup
mothra-env/
build/

# SQLite
/mothra/mothra.db
/mothra/mothra.db-journal

celerybeat-schedule
.coverage
htmlcov