Pillow==2.2.1
PySimpleSOAP==1.05a
South==0.7.6
Werkzeug==0.8.3
django-extensions==0.9
django-orderable-inlines==0.0.6
django-picklefield==0.2.1
httplib2==0.7.5
wsgiref==0.1.2
mysql-connector-python==8.0.14
numpy==1.7.1
pydot==1.0.28
pyparsing==1.5.7
scikit-learn==0.18.1
scipy==0.13.0
feedparser==5.1.2
networkx==1.8.1
unidecode==0.04.13
nltk==3.2.1
psycopg2==2.6.1
python-rdm>=0.1.7
pandas==0.20.1
langid==1.1.6
tweepy==3.5.0
marisa-trie==0.7.4
python-crfsuite==0.9
reldi==1.6
https://github.com/anzev/hedwig/archive/master.zip