Django==1.4.15
Pillow==2.2.1
PySimpleSOAP==1.05a
South==0.7.6
Werkzeug==0.8.3
django-extensions==0.9
django-orderable-inlines==0.0.6
django-picklefield==0.2.1
httplib2==0.7.5
wsgiref==0.1.2
unidecode==0.04.13
django-jsonview==0.3.0
django-celery==3.1.9
ladon==0.8.9
django-discover-runner==1.0
liac-arff==2.0.1
networkx==1.9.1
