{% extends "website/base.html" %}

{% block "container" %}

  <header>
   <div class="row">
      <div class="large-12 columns">
         <h1>ClowdFlows</h1>
         <h3>Data mining workflows on the cloud.</h4>
      </div>
   </div>
   <div class="row cf-buttons">
      <div class="large-12 columns">
         <a data-reveal-id="myModal" data-reveal-ajax="/signuplogin/" href="#" class="large success button">Try the tutorial</a>
         <a href="#" class="button">Start working</a>
         <a href="#" class="button">Explore existing workflows</a>
      </div>
   </div>   
  </header>


    <div class="row">
          <div class="large-12 columns">
            <h1>What is ClowdFlows?</h1>
             <p>ClowdFlows is an <strong>open sourced</strong> cloud based platform for <strong>composition, execution, and sharing</strong> of interactive machine learning and data mining workflows. It is based on the principles of service-oriented knowledge discovery and features interactive scientific workflows. In contrast to comparable data mining platforms, ClowdFlows runs in all major Web browsers and platforms. ClowdFlows provides researchers with an easy way to expose and share their work and results, as only an Internet connection and a Web browser are required to access the workflow from anywhere. Practictioners can use ClowdFlows to seamlessly integrate and join different implementations of algorithms, tools and Web services into a coherent workflow that can be executed in a cloud based application. ClowdFlows is also easily extensible during run-time by importing Web services and using them as new workflow components.</p>  
          </div>
      </div>

      <div class="row">
        <div class="large-12 columns">
          <img src="{{STATIC_URL}}foundation/img/workflows.png" alt="a screenshot of three workflows">
        </div>
      </div>

      <div class="row">
        <hr>
        <div class="medium-4 large-4 columns">
          <h2 class="subheader">Work anywhere</h2>
           <p>The non local nature of the application allows you to work anywhere at anytime! No installation required!</p>
           <p>It's a web application, and your work is saved on the server.</p>
       </div>

        <div class="medium-4 large-4 columns">
          <h2 class="subheader">Absolutely free</h2>
           <p>You can use the platform for free! Just register and you're good to go!</p>
       </div>

        <div class="medium-4 large-4 columns">

          <h2 class="subheader">Powerful workflow controls</h2>
          <p>Organize your workflows with powerful tools that allow packing workflows into workflow elements and even running them in <strong>for loops</strong>.</p>
        </div>

      </div>

      <div class="row">
        <div class="medium-4 large-4 columns">
          <h2 class="subheader">Web services in workflows</h2>
           <p>Use WSDL webservices as workflow components.</p>
           <p>Simply enter the WSDL URL of a webservice and use them as workflow elements. Connect them with other web services or provided workflow elements. </p>

        </div>
        <div class="medium-4 large-4 columns">
          <h2 class="subheader">Data mining algorithms</h2>
           <p>Unleash the power of data mining by using Weka's algorithms that have been exposed as WSDL web services. Construct trees, build models and experiment!</p>
       </div>

        <div class="medium-4 large-4 columns">

          <h2 class="subheader">Contribute and share your work</h2>
          <p>Have you constructed an interesting workflow? Share it with other people, so that they may use it to create or improve their workflows!</p>
        </div>
        <hr>
      </div>

{% endblock %}