<div id="widgetinteract-{{widget.pk}}" width="850" height="550" rel="{{widget.pk}}" class="widgetinteractdialog" title="{{widget.name}} wants your input!">

<style type="text/css">
button.shown {display: inline;}

.hidden {display: none;}
.shown {display: block;}

select {width: 250px;}
</style>

<script type="text/javascript">
var SelectData = function() 
{
    var that = {}

    that.init = function(pk)
    {
        that.pk = pk;
        that.add_clicked = false;
        that.attr_select = $('#attr_list' + that.pk);
        that.operators_select = $('#operator' + that.pk);
        that.values_select = $('#values' + that.pk);
        that.val1_input = $('#val1' + that.pk);
        that.val2_input = $('#val2' + that.pk);
        that.values = $('#values' + that.pk);
        that.case_sensitive = $('#case' + that.pk);
        that.filters = $('#filters' + that.pk);
        that.json_conditions = $('#conditions' + that.pk);

        // Object containing the filtering rules
        that.rules = [];

        // Next position to add rule
        that.index = 0;

        $('#btn_add' + that.pk).click(function() {
            that.add_cond('and');
        });
        $('#btn_or' + that.pk).click(function() {
            if (that.add_clicked) { 
                that.add_cond('or'); 
            } else { 
                that.add_cond('and'); 
            }
        });
        $('#btn_del' + that.pk).click(that.del_last);
        $('#btn_neg' + that.pk).click(that.neg_last);
    }; 

    that.attr_change = function(attr) 
    {
        // Clear the select lists
        that.operators_select.empty();
        that.values_select.empty();

        var is_string = false;
        var operators = [];
        if (attr['type'] == 'Discrete') {

            operators = ['in', 'equals'];
            that.val1_input.hide();
            that.val2_input.hide();
            that.values.show();
            that.case_sensitive.show();

            $.each(attr['values'], function(idx, value) {
                var opt = $('<option></option>')
                    .text(value)
                    .val(value);
                that.values_select.append(opt);
            });

        } else if(attr['type'] == 'Continuous') {

            operators = ['outside', 'between', '<=', '<', '>=', '>', '='];          
            that.val1_input.show();
            that.values.hide();
            that.case_sensitive.hide();

        } else {
            is_string = true;
            operators = ['ends with', 'begins with', 'not contains', 'contains', 
                         'outside', 'between', '<=', '<', '>=', '>', '='];
            that.val1_input.show();
            that.values.hide();
            that.case_sensitive.show();
        }

        if (attr['feature']) {
            operators.push('is defined');
        }

        // Fill operators
        $.each(operators, function(idx, op) {
            var opt = $('<option></option>').text(op);

            if (is_string) {
                opt.val('s' + op);
            } else {
                opt.val(op);
            }

            var multipleSelect = (op != 'equals');
            var showVal2 = (op == 'outside' || op == 'between');

            opt.click(function() {
                that.values.attr('multiple', op != 'equals');
                if (op == 'outside' || op == 'between') {
                    that.val2_input.show();
                } else {
                    that.val2_input.hide();
                }
            });
            that.operators_select.append(opt);
        });
    };

    that.add_cond = function(op) 
    {
        if (op == 'and') {
            that.add_clicked = true;
        }

        var att_name = that.attr_select
                            .find('option:selected')
                            .val();
        var op_name = that.operators_select
                            .find('option:selected')
                            .val();

        if (that.rules.length > 0) {
            var last_rule = that.rules[that.rules.length-1];
            var rule_cond = last_rule.condition;
            var last_cond = rule_cond[rule_cond.length - 1];

            // Don't allow 'is defined' with 'or'
            if (op == 'or' && (last_cond['operator'].indexOf('defined') != -1 ||
                    op_name.indexOf('defined') != -1)) 
            {
                alert("Invalid action: operator 'is defined' is not allowed in a disjunction statement!");
                return true;
            }
        }

        if (op != 'or') {
            that.rules.push({
                'no' : that.index, 
                'condition' : [],
                'negate' : false
            });
        } else {
            that.index--;
        }

        var case_sens = that.case_sensitive.is(':checked');

        if (op_name == 'in' || 
            op_name == 'equals') {

            // Copy selected values
            var sel_values = [];
            that.values_select
                .find('option:selected')
                .each(function(idx, el) {
                    sel_values.push($(el).val());
            });

            that.rules[that.index].condition.push({
                'attr' : att_name,
                'operator' : op_name,
                'values' : sel_values,
            });
        } else if (op_name == 'between' ||
                   op_name == 'outside' || 
                   op_name == 'sbetween' ||
                   op_name == 'soutside') {

            that.rules[that.index].condition.push({
                'attr' : att_name,
                'operator' : op_name,
                'values' : [that.val1_input.val(), that.val2_input.val()],
                'case' : case_sens
            });
        } else {

            that.rules[that.index].condition.push({
                'attr' : att_name,
                'operator' : op_name,
                'values' : [that.val1_input.val()],
                'case' : case_sens
            });
        }

        that.index++;
        that.write_conds();
    };

    that.del_last = function() 
    {
        if (that.rules.length > 0) {
            that.rules.pop();
            that.index--;
            that.write_conds();

            if (that.rules.length == 0) {
                that.add_clicked = false;
            }
        }
    };

    that.neg_last = function() 
    {
        if (that.rules.length > 0) {
            that.rules[that.rules.length-1].negate = true;
            that.write_conds();
        }
    };

    that.write_conds = function() 
    {
        var filters_text = '';
        $.each(that.rules, function (i, rule) {
            if (rule.negate) {
                filters_text += 'NOT ';
            }
            $.each(rule.condition, function (j, cond) {
                if (j > 0) {
                    filters_text += ' OR ';
                }
                filters_text += cond.attr + ' ' + cond.operator;

                if (cond.operator != 'is defined') {
                    filters_text += ' ' + cond.values;
                }
            });
            filters_text += '\n';
        });

        that.filters.val(filters_text);
        that.json_conditions.val(JSON.stringify({'conditions' : that.rules}));
    };

    return that;
};
var selectData{{widget.pk}} = SelectData();

$(document).ready(function () {
    selectData{{widget.pk}}.init({{widget.pk}});
});
</script>
<center>
    <form id="interactionform-{{widget.pk}}" name="interactionform-{{widget.pk}}">
        <table style="width:830px; height:180px">
            <tr>
                <td rowspan="2" style="width:252px">
                    <p>Attributes:</p>
                    <select name="attribute" id="attr_list{{widget.pk}}" size="7">
                        {% for k, v in attrs %}
                        <option value="{{k}}" onclick="selectData{{widget.pk}}.attr_change({{v}});">
                            {{k}}
                        </option>
                        {% endfor %}
                    </select>
                </td>
                <td rowspan="2" style="width:252px">
                    <p>Operators:</p>
                    <select name="operator" id="operator{{widget.pk}}" size="7"/>
                </td>
                <td rowspan="1" style="width:252px">
                    <p>Values:</p>
                    <select name="values" id="values{{widget.pk}}" class="hidden" size="5"/>
                </td>
            </tr>
            <tr>
                <td style="width:252px">
                    <input class="hidden" id="val1{{widget.pk}}" type="text" value="value 1"/>
                    <input class="hidden" id="val2{{widget.pk}}" type="text" value="value 2"/>
                    <div id="case{{widget.pk}}" class="hidden">
                        <input type="checkbox" id="caseSens{{widget.pk}}" value="case" style="display:inline; width:10%"/> 
                        <p style="display:inline">Case sensitive</p>
                    </div>
                </td>
            </tr>
        </table>
        <input type="hidden" name="widget_id" value="{{widget.pk}}"/>
        <textarea id="filters{{widget.pk}}" name="filters" disabled="disabled" style="width: 98%; height:200px"/>
        <input id="conditions{{widget.pk}}" name="conditions" type="hidden"/>
    </form>
    <button id="btn_add{{widget.pk}}" class="shown">Add</button>
    <button id="btn_or{{widget.pk}}" class="shown">Or</button>
    <button id="btn_del{{widget.pk}}" class="shown">Delete last</button>
    <button id="btn_neg{{widget.pk}}" class="shown">Negate last</button>
</center>

</div>