<div id="widgetvisualization-{{ widget.pk }}" rel="{{ widget.pk }}"
     class="widgetvisualizationdialog" title="{{ widget.name }} visualization" width="800" height="600">

    <div id="networkvis">
    </div>
</div>


<style>
    #networkvis{
        overflow-y: hidden;
        overflow-x: hidden;
    }
</style>

<script>
    $('head').append('<link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/almende/vis/v4.9.0/dist/vis.min.css">');

    $("#widgetvisualization-{{ widget.pk }}").bind("dialogresize", function (event, ui) {
        $('#networkvis').height($('#networkvis').parent().height());
        $('#networkvis').width($('#networkvis').parent().width());
    });
</script>

<script>
    $.getScript('https://cdn.rawgit.com/ryanve/verge/master/verge.min.js', function () {
        $('#networkvis').height($('#networkvis').parent().height());
        $('#networkvis').width($('#networkvis').parent().width());
        $.getScript("https://cdn.rawgit.com/almende/vis/v4.9.0/dist/vis.min.js", function () {
            var network = null;
            var nodes = new vis.DataSet();
            var edges = new vis.DataSet();
            nodes.add({{ nodes|safe }});
            edges.add({{ edges|safe }});

            var data = {
                nodes: nodes,
                edges: edges
            };

            var options = {
                autoResize: true,
                edges: {
                  smooth: {
                    type: 'dynamic'
//                      type: 'continuous'
                  }
                },
                nodes: {
                    color: {
                      background: '#D2E5FF',
                      hover: {
                        background: '#97C2FC'
                      }
                    }
                },
                interaction: {
                    hover: true     
                },
                manipulation: {
                    enabled: true,
                    initiallyActive: false,
                    addNode: function(nodeData,callback) {
                        nodeData.label = 'new node';
                        var name = prompt('Enter node label', nodeData.label);
                        if (name != null) {
                            nodeData.label = name;
                        };
                        callback(nodeData);
                        }                                            
                },
                physics: {
                    enabled: true,
                    stabilization: {
                        enabled: false
                    }
                },
            layout: {
                randomSeed: undefined,
                improvedLayout:true,
              }                
            };
            
            var container = document.getElementById('networkvis');
            network = new vis.Network(container, data, options);
        }).fail(function( jqxhr, settings, exception ) {
                alert("Network error: cannot load verge JS library!");
            });
    }).fail(function( jqxhr, settings, exception ) {
        alert("Network error: cannot load verge JS library!");
        });


    function getFromIframe(eid) {
        return $('iframe').contents().find(eid)[0];
    }
    
</script>

