<div id="widgetvisualization-{{widget.pk}}" rel="{{widget.pk}}" class="widgetvisualizationdialog" title="{{widget.name}} visualization" width=800 height=600>
    <div id="ranks{{widget.pk}}"></div>
</div>
<script type="text/javascript">
        $(document).ready(function () {
            new Highcharts.Chart({
                chart: {
                    renderTo: 'ranks{{widget.pk}}',
                    type: 'spline',
                    width: 700,
                    height: 500,
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false
                },
                title: {
                    text: 'Gene ranks'
                },
                legend: {
                    enabled: false
                },
                xAxis: {
                    reversed: false,
                    title: {
                        enabled: true,
                        text: 'Genes'
                    },
                    labels: {
                        formatter: function() {
                            return 'Gene ' + this.value;
                        }
                    },
                    maxPadding: 0.05,
                    showLastLabel: true
                },
                yAxis: {
                    title: {
                        text: 'Rank'
                    },
                    labels: {
                        formatter: function() {
                            return this.value;
                        }
                    }
                },
                tooltip: {
                    headerFormat: '<b>{series.name}</b><br/>',
                    pointFormat: 'Gene {point.x}: {point.y}'
                },
                plotOptions: {
                    spline: {
                        lineWidth: 4,
                        marker: {
                            enabled: false
                        }
                    }
                },
                series: [{
                    name: 'Ranks',
                    data: {{ gene_ranks|safe }}
                }],
                credits: {
                    enabled: false
                },
            });
        });
        </script>