<div id="widgetinteract-{{widget.pk}}" rel="{{widget.pk}}" class="widgetinteractdialog" title="{{widget.name}} interaction" width="1050" height="800">
        <div id="clustering_canvas{{widget.pk}}"></div>
        <form> 
            <input type="hidden" name="widget_id" value="{{widget.pk}}" style="display:none;" />
            <input type="hidden" name="selected_height" value="0" style="display:none;"/>
            <input type="hidden" class="selected_nodes{{widget.pk}}" name="selected_nodes" value="" style="display:none;"/>
        </form>
        <div>
          Display label:
          <select class="attributeselect">
            <option value="-1">None</option>
            {% for attribute in attributes %}
            <option value="{{forloop.counter0}}">{{attribute}}</option>
            {% endfor %}
          </select>
        </div>
        <div id="legend{{widget.pk}}">
        </div>

</div>
<style type="text/css">
path.arc {
 /* cursor: move;*/
  fill: #fff;
}

path.selectedarc {
  fill: red;
}

.node circle {
  fill: #fff;
  stroke: black;
  stroke-width: 1.5px;
}

.node {
  font-size: 10px;
  pointer-events: none;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}


</style>
<script type="text/javascript">
//document.write('<div>bllaaaaaaa1000</div>');
var hierarchy = {{hierarchy|safe}};
//document.write('<div>'+hierarchy|safe+'</div>');
draw(1000, 600, hierarchy, "#clustering_canvas{{widget.pk}}");
function draw(w, h, hierarchy, target) {
    //console.log("drawiiiiiing")
    //document.write('<div>bllaaaaaaa</div>');
    var vizualization = '{{vizualization}}';

    var colors = ['red','blue','yellow','green','magenta','cyan','black'];

    // we put attributes in an array
    var attributes = [];
    {% for attribute in attributes %}
    attributes.push('{{attribute}}');
    {% endfor %}
    //document.write('<div>'+target+'</div>');

    // we calculate the radious.
    var rx = w/2,
      ry = h/2,
      m0,
      rotate = 0,
      delta = 30;

    //get the center 
    var root = [rx, ry];
    var width = ry - delta;

    //if tree than change parameters
    if (vizualization == "tree") {
      width=w-100;
      height=width*2;
      ry=1000;
    }
    //document.write('<div>bllaaaaaaa8</div>');

    // if circle get different layout than tree
    if (vizualization == "circle") {
      var cluster = d3.layout.cluster()
        .size([360, ry - delta])
        .sort(null);
    } else {
      var cluster = d3.layout.cluster()
        .size([h-50, ry - delta])
        .sort(null);      
    }
    //document.write('<div>bllaaaaaaa7</div>');
    //document.write('<div>'+cluster+'</div>');

    //if visualization is circle put a different scalable vector graphic
    if (vizualization=="circle") {
      var diagonal = d3.svg.diagonal.radial()
        .projection(function(d) { return [d.y, d.x / 180 * Math.PI]; });
    } else {
      var diagonal = d3.svg.diagonal()
        .projection(function(d) { return [d.y, d.x]; });     
    }

    // put a onclick listener on a div element, uses function select_clusters
    var svg = d3.select(target).append("div")
    //  .style("width", w + "px")
    //  .style("height", (h+50) + "px")
      .on("click", select_clusters_new_structure);
    //document.write('<div>bllaaaaaaa6</div>');

    // change parameters for every svg
    if (vizualization=="circle") {
      var vis = svg.append("svg:svg")
        .attr("width", w)
        .attr("height", h+50)
        .append("svg:g")
        .attr("transform", "translate(" + rx + "," + ry + ")");
    } else {
      var vis = svg.append("svg:svg")
        .attr("width", w)
        .attr("height", h)
        .append("svg:g")
        .attr("transform", "translate(40,10)");   
    }

    // if circle put an onclick listener mousedown on the graphic
    if (vizualization=="circle") {
      vis.append("svg:path")
        .attr("class", "arc")
        .attr("d", d3.svg.arc().innerRadius(ry - delta).outerRadius(ry).startAngle(0).endAngle(2 * Math.PI))
        .on("mousedown", mousedown);
    }

    //document.write('<div>bllaaaaaaa5</div>');
    // get nodes from hierarchy
    var nodes = cluster.nodes(hierarchy);
    nodes = nodes[0]; // to rabis samo v popravljeni verziji

    /*for(var propertyName in nodes[0]) {
        alert('propertyName: '+ propertyName);
        alert('value: '+nodes[0][propertyName])
        alert('length : ' + nodes[0][propertyName].length)
    } */

    // get maximum height node
    var max_height = 0;
    for (node in nodes) {
        if (nodes[node].height>max_height) {
            max_height=nodes[node].height;
        }
    }

    // change node heights
    for (node in nodes) {
        nodes[node].y = width-(nodes[node].height/max_height) * width;
    }

    var link = vis.selectAll("path.link")
      .data(cluster.links(nodes))
      .enter().append("svg:path")
      .attr("class", "link")
      .attr("d", diagonal);

    if (vizualization=="circle") {
      var node = vis.selectAll("g.node")
        .data(nodes)
      .enter().append("svg:g")
        .attr("class", "node")
        .attr("transform", function(d) { return "rotate(" + (d.x - 90) + ")translate(" + d.y + ")"; });

      node.append("svg:circle")
        .attr("r", 3);
    } else {
      var node = vis.selectAll("g.node")
        .data(nodes)
      .enter().append("svg:g")
        .attr("class", "node")
        .attr("transform", function(d) { return "translate(" + d.y + "," + d.x + ")"; })

      node.append("svg:circle")
        .attr("r", 3);      
    }
    
    
    //  just show a toast
    $(".node").mouseenter(function() {
      alert("test");
    });

    // do something with attributes
    if (vizualization=="circle") {
      for (a in attributes) {
        node.append("svg:text")
          .attr("dx", function(d) { return d.x < 180 ? 8 : -8; })
          .attr("dy", ".31em")
          .attr("text-anchor", function(d) { return d.x < 180 ? "start" : "end"; })
          .attr("transform", function(d) { return d.x < 180 ? null : "rotate(180)"; })
          .attr("class", "attribute"+a+" attributes")
          .text(function(d) { return d.values[attributes[a]]; });
      }
    } else {
       for (a in attributes) {
        node.append("svg:text")
          .attr("dx", -10)
          .attr("dy", 3)
          //.style("text-anchor", function(d) { return d.children ? "end" : "start"; })
          .style("text-anchor", function(d) { return d.leaf ? "end" : "start"; })
          .attr("class", "attribute"+a+" attributes")
          .text(function(d) { return d.values[attributes[a]]; });
      }     
    }

    $(".attributes").hide();

    $(".attribute"+$(".attributeselect").val()).show();

    $(".attributeselect").change(function () {
      $(".attributes").hide();
      $(".attribute"+$(".attributeselect").val()).show();      
    })

    d3.select(window)
      .on("mousemove", mousemove)
      .on("mouseup", mouseup);

    var cluster_index=0;
    var clusters = [];
    var counters = [];

    function color_nodes(node,treshold,cluster) {
        if (node.height<treshold||node.height==0) {
          node.cluster = cluster;
          if (clusters.indexOf(cluster)==-1) {
           clusters.push(cluster);
           counters.push(0);
           selected_clusters.push(true);
          }
          for (n in node.children) {
            color_nodes(node.children[n],treshold,cluster);
          }
        } else {
          node.cluster = -1;
          for (n in node.children) {
            color_nodes(node.children[n],treshold,++cluster_index);
          }
        }

    }

    function color_nodes_new_struct(nodes,idx,treshold,cluster) {
        var node = nodes[idx];
        descendants = [];
        if (node.children[0] != undefined) {
            descendants.push(nodes[node.children[0]]);
        } 
        if (node.children[1] != undefined) {
            descendants.push(nodes[node.children[1]]); 
        }
      //for i in len(nodes){}
        if (node.height<treshold||node.height==0) {
            node.cluster = cluster;
            if (clusters.indexOf(cluster)==-1) {
               clusters.push(cluster);
               counters.push(0);
               selected_clusters.push(true);
            }
            for (n in descendants) {
                color_nodes_new_struct(nodes,node.children[n],treshold,cluster);
            }
        } else {
            node.cluster = -1;
            for (n in descendants) {
                color_nodes_new_struct(nodes,node.children[n],treshold,++cluster_index);
            }
        }

    }
    //color_nodes_non_recursive(nodes[0],r_height,0);


    hsv2rgb = function(h,s,v) {
      var rgb, i, data = [];
      if (s === 0) {
        rgb = [v,v,v];
      } else {
        h = h / 60;
        i = Math.floor(h);
        data = [v*(1-s), v*(1-s*(h-i)), v*(1-s*(1-(h-i)))];
        switch(i) {
          case 0:
            rgb = [v, data[2], data[0]];
            break;
          case 1:
            rgb = [data[1], v, data[0]];
            break;
          case 2:
            rgb = [data[0], v, data[2]];
            break;
          case 3:
            rgb = [data[0], data[1], v];
            break;
          case 4:
            rgb = [data[2], data[0], v];
            break;
          default:
            rgb = [v, data[0], data[1]];
            break;
        }
      }
      return '#' + rgb.map(function(x){ 
        return ("0" + Math.round(x*255).toString(16)).slice(-2);
      }).join('');
    };    

    var threshold_arc = null;
    var root_node = nodes[0];

    function display_nodes() {
      return_nodes = [];
      node.selectAll("circle")
          .style('fill', function(d) {
            if (d.cluster==-1) {
              return 'white';
            } else {
              if (d.children.length==0) {
                counters[clusters.indexOf(d.cluster)]++;
              } 
              var sat = 1;               
              if (!selected_clusters[clusters.indexOf(d.cluster)]) {
                d.selected = false;
                sat=0.15
              } else {
                d.selected = true;
              }
              return hsv2rgb(((clusters.indexOf(d.cluster)*1.0)/(clusters.length))*360,sat,1);
            }
          })
          .style('stroke', function(d) {
              if (d.cluster==-1) {
                return 'black';
              } else {
              var sat = 1;               
              if (!selected_clusters[clusters.indexOf(d.cluster)]) {
                sat=0.15
              }

              if (d.leaf) {
                return_nodes.push([d.id,d.selected,clusters.indexOf(d.cluster)]);
              }

              return hsv2rgb(((clusters.indexOf(d.cluster)*1.0)/(clusters.length))*360,sat,0.8);
              }

          });
          $(".selected_nodes{{widget.pk}}").val(JSON.stringify(return_nodes));
      }

    function display_nodes_new_structure() {
      return_nodes = [];
      node.selectAll("circle")
          .style('fill', function(d) {
            if (d.cluster==-1) {
              return 'white';
            } else {
              if (d.children.length==0) {
                counters[clusters.indexOf(d.cluster)]++;
              } 
              var sat = 1;               
              if (!selected_clusters[clusters.indexOf(d.cluster)]) {
                d.selected = false;
                sat=0.15
              } else {
                d.selected = true;
              }
              return hsv2rgb(((clusters.indexOf(d.cluster)*1.0)/(clusters.length))*360,sat,1);
            }
          })
          .style('stroke', function(d) {
              if (d.cluster==-1) {
                return 'black';
              } else {
              var sat = 1;               
              if (!selected_clusters[clusters.indexOf(d.cluster)]) {
                sat=0.15
              }

              if (d.leaf) {
                return_nodes.push([d.id,d.selected,clusters.indexOf(d.cluster)]);
              }

              return hsv2rgb(((clusters.indexOf(d.cluster)*1.0)/(clusters.length))*360,sat,0.8);
              }

          });
          $(".selected_nodes{{widget.pk}}").val(JSON.stringify(return_nodes));
    }

    function select_clusters() {
        var click_pos = d3.mouse(this);
        if (vizualization=="circle") {
          var r = Math.min(distance(click_pos, root), ry-delta);
          var r_dist = distance(click_pos,root)
          if (r_dist > ry-delta) {
            return false;
          }
          var r_height = max_height-((distance(click_pos,root)/(ry-delta))*max_height);

          if (threshold_arc) {
              threshold_arc.remove();
          }
          threshold_arc = vis.append("svg:path")
            .attr("class", "selectedarc")
            .attr("d", d3.svg.arc().innerRadius(r).outerRadius(r+1).startAngle(0).endAngle(2 * Math.PI));

        } else {
          var x = click_pos[0];
          x = x-40;
          if (x<0) {
            x=0;
          }
          var r_height = max_height-(x/width)*max_height;

          if (threshold_arc) {
              threshold_arc.remove();
          }
          threshold_arc = vis.append("svg:line")
            .attr("class", "selectedarc")
            .attr("x1",x)
            .attr("y1","0")
            .attr("x2",x)
            .attr("y2","1000")
            .attr("stroke-width","2")
            .attr("stroke","red");
        }
        cluster_index = 0;
        clusters = [];
        counters = [];
        selected_clusters = [];
        color_nodes(nodes[0],r_height,0);

        //clusters.sort(function() { return 0.5 - Math.random();});

        display_nodes();

          var legend = $("#legend{{widget.pk}}");
          legend.html("");
          for (c in counters) {

            legend.append('<span style="display:inline; color:'+hsv2rgb((c*1.0/counters.length)*360,1,1)+'"><input type="checkbox" class="clusterselect" checked="checked" style="display:inline !important; width:20px;" rel="'+c+'" />'+counters[c]+"</span> ");
          }

          $(".clusterselect").change(function() {

            var current_cluster = parseInt($(this).attr('rel'));

            if ($(this).attr('checked')=='checked') {
              selected_clusters[current_cluster]=true;
            } else {
              selected_clusters[current_cluster]=false;
            }

            display_nodes();

          });

    }

    function select_clusters_new_structure() {
        var click_pos = d3.mouse(this);
        if (vizualization=="circle") {
          var r = Math.min(distance(click_pos, root), ry-delta);
          var r_dist = distance(click_pos,root)
          if (r_dist > ry-delta) {
            return false;
          }
          var r_height = max_height-((distance(click_pos,root)/(ry-delta))*max_height);

          if (threshold_arc) {
              threshold_arc.remove();
          }
          threshold_arc = vis.append("svg:path")
            .attr("class", "selectedarc")
            .attr("d", d3.svg.arc().innerRadius(r).outerRadius(r+1).startAngle(0).endAngle(2 * Math.PI));

        } else {
          var x = click_pos[0];
          x = x-40;
          if (x<0) {
            x=0;
          }
          var r_height = max_height-(x/width)*max_height;

          if (threshold_arc) {
              threshold_arc.remove();
          }
          threshold_arc = vis.append("svg:line")
            .attr("class", "selectedarc")
            .attr("x1",x)
            .attr("y1","0")
            .attr("x2",x)
            .attr("y2","1000")
            .attr("stroke-width","2")
            .attr("stroke","red");
        }
        cluster_index = 0;
        clusters = [];
        counters = [];
        selected_clusters = [];
        color_nodes_new_struct(nodes,0,r_height,0);
        //clusters.sort(function() { return 0.5 - Math.random();});

        display_nodes();

          var legend = $("#legend{{widget.pk}}");
          legend.html("");
          for (c in counters) {

            legend.append('<span style="display:inline; color:'+hsv2rgb((c*1.0/counters.length)*360,1,1)+'"><input type="checkbox" class="clusterselect" checked="checked" style="display:inline !important; width:20px;" rel="'+c+'" />'+counters[c]+"</span> ");
          }

          $(".clusterselect").change(function() {

            var current_cluster = parseInt($(this).attr('rel'));

            if ($(this).attr('checked')=='checked') {
              selected_clusters[current_cluster]=true;
            } else {
              selected_clusters[current_cluster]=false;
            }

            display_nodes();

          });

    }

    function mouse(e) {
      return [e.pageX - rx, e.pageY - ry];
    }

    function mousedown() {
    /*  m0 = mouse(d3.event);
      d3.event.preventDefault();*/
    }

    function mousemove() {
      if (m0) {
        var m1 = mouse(d3.event),
            dm = Math.atan2(cross(m0, m1), dot(m0, m1)) * 180 / Math.PI,
            tx = "translate3d(0," + (ry - rx) + "px,0)rotate3d(0,0,0," + dm + "deg)translate3d(0," + (rx - ry) + "px,0)";
        svg
            .style("-moz-transform", tx)
            .style("-ms-transform", tx)
            .style("-webkit-transform", tx);
      }
    }

    function mouseup() {
      if (m0) {
        var m1 = mouse(d3.event),
            dm = Math.atan2(cross(m0, m1), dot(m0, m1)) * 180 / Math.PI,
            tx = "rotate3d(0,0,0,0deg)";

        rotate += dm;
        if (rotate > 360) rotate -= 360;
        else if (rotate < 0) rotate += 360;
        m0 = null;

        svg
            .style("-moz-transform", tx)
            .style("-ms-transform", tx)
            .style("-webkit-transform", tx);

        vis
            .attr("transform", "translate(" + rx + "," + ry + ")rotate(" + rotate + ")")
          .selectAll("g.node text")
            .attr("dx", function(d) { return (d.x + rotate) % 360 < 180 ? 8 : -8; })
            .attr("text-anchor", function(d) { return (d.x + rotate) % 360 < 180 ? "start" : "end"; })
            .attr("transform", function(d) { return (d.x + rotate) % 360 < 180 ? null : "rotate(180)"; });
      }
    }

    function cross(a, b) {
      return a[0] * b[1] - a[1] * b[0];
    }

    function dot(a, b) {
      return a[0] * b[0] + a[1] * b[1];
    }

    function distance(a, b) {
        return Math.sqrt((a[0]-b[0])*(a[0]-b[0]) + (a[1]-b[1])*(a[1]-b[1]));
    }
}
</script>