<div id="widgetinteract-{{widget.pk}}" rel="{{widget.pk}}" class="widgetinteractdialog" title="{{widget.name}} interaction" width="450" height="500">
<form>
    <label for="algorithm{{widget.pk}}">Algorithm</label>
    <select id="algorithm{{widget.pk}}" name="algorithm{{widget.pk}}">
    {% for alg in algorithms %}
        <option value="{{alg}}" {% if forloop.first %}selected="selected"{% endif %}>{{alg}}</option>
    {% endfor %}
    </select>
    {% for param, info in parameters_info.items %}
        <label for="{{param}}{{widget.pk}}">{{info.1}}</label><input type="number" id="{{param}}{{widget.pk}}" name="{{param}}{{widget.pk}}" value="{{info.0}}"/>
    {% endfor %}
    <label for="class{{widget.pk}}">Class</label>
    <select id="class{{widget.pk}}" name="class{{widget.pk}}">
    {% for class in classValues %}
        <option value="{{class}}">{{class}}</option>
    {% endfor %}
    </select>
    <label for="ruleset_name{{widget.pk}}">Rule set name (optional, used for displaying evaluations)</label>
    <input type="text" id="ruleset_name{{widget.pk}}" name="ruleset_name{{widget.pk}}" value=""/>
    <input type="hidden" name="widget_id" value="{{widget.pk}}">
</form>
<script type="text/javascript">
    var all_parameters = {{all_parameters|safe}};
    var settings = {{settings|safe}};

    function toggle_params(alg) {
        // Go through all parameters and appropriately disable/enable
        parameters = settings[alg];
        for (i in all_parameters) {
            if (parameters.indexOf(all_parameters[i]) != -1) {
                $('#' + all_parameters[i] + '{{widget.pk}}').show();
                $('label[for=' + all_parameters[i] + '{{widget.pk}}]').show();
            } else {
                $('#' + all_parameters[i] + '{{widget.pk}}').hide();
                $('label[for=' + all_parameters[i] + '{{widget.pk}}]').hide();
            }
        }
    }
    // Toggle for default selection
    toggle_params($('select#algorithm{{widget.pk}} > option:selected').val());
    $('#algorithm{{widget.pk}}').change(function () {
        var alg = $(this).val();
        toggle_params(alg);
    });
</script>
</div>