{% extends "streams/base.html" %}
{% block 'container' %}

<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>

<div class="nav">
    </div>

<div id="sentiment-graph" style="min-width: 400px; height: 400px; margin: 0 auto"></div>

<div class="navbar">
  <div class="navbar-inner">
    <ul class="nav">
        <li {% if zoomlevel == "day" %}class="active"{% endif %}><a href="?zoomlevel=day">aggregate by day</a></li>
        <li {% if zoomlevel == "hour" %}class="active"{% endif %}><a href="?zoomlevel=hour">aggregate by hour</a></li>
        <li {% if zoomlevel == "minute" %}class="active"{% endif %}><a class="active" href="?zoomlevel=minute">aggregate by minute</a></li>
    </ul>
  </div>
</div>

<script>
$(function () {
        $('#sentiment-graph').highcharts({
            chart: {
                type: 'areaspline',
                zoomType: 'x',
            },
            title: {
                text: '{{stream.workflow}}'
            },
            subtitle: {
                text: '{{widget}}'
            },
            xAxis: {
                type: 'datetime',
                dateTimeLabelFormats: { // don't display the dummy year
                    month: '%e. %b',
                    year: '%b'
                }
            },
            yAxis: {
                title: {
                    text: 'Volume'
                },
                //min: 0
            },
            tooltip: {
                formatter: function() {
                        return '<b>'+ this.series.name +'</b><br/>'+
                        Highcharts.dateFormat('%Y-%m-%d %H:%M:%S', this.x) +': '+ this.y +' tweets';
                }
            },

            series: [{
                name: 'Volume',
                type: 'spline',
                data: [
                    {% for tweet in volumes %}
                    [Date.UTC({{tweet.0|date:"Y"}},  {{tweet.0|date:"n"|add:"-1"}},  {{tweet.0|date:"j"}}{% if zoomlevel == "hour" %}, {{tweet.0|date:"H"}},0{% endif %}{% if zoomlevel == "minute" %}, {{tweet.0|date:"H"}}, {{tweet.0|date:"i"}}{% endif %}), {{tweet.1}}   ],
                    {% endfor %}
                ]
            },{
                name: 'Positive',
                color: '#12aa12',
                data: [
                    {% for tweet in positive %}
                    [Date.UTC({{tweet.0|date:"Y"}},  {{tweet.0|date:"n"|add:"-1"}},  {{tweet.0|date:"j"}}{% if zoomlevel == "hour" %}, {{tweet.0|date:"H"}},0{% endif %}{% if zoomlevel == "minute" %}, {{tweet.0|date:"H"}}, {{tweet.0|date:"i"}}{% endif %}), {{tweet.1}}   ],
                    {% endfor %}
                ]
            },{
                name: 'Negative',
                color: '#aa1212',
                data: [
                    {% for tweet in negative %}
                    [Date.UTC({{tweet.0|date:"Y"}},  {{tweet.0|date:"n"|add:"-1"}},  {{tweet.0|date:"j"}}{% if zoomlevel == "hour" %}, {{tweet.0|date:"H"}},0{% endif %}{% if zoomlevel == "minute" %}, {{tweet.0|date:"H"}}, {{tweet.0|date:"i"}}{% endif %}), -{{tweet.1}}   ],
                    {% endfor %}
                ]
            },{
                name: 'Difference',
                type: 'spline',
                data: [
                    {% for tweet in difference %}
                    [Date.UTC({{tweet.0|date:"Y"}},  {{tweet.0|date:"n"|add:"-1"}},  {{tweet.0|date:"j"}}{% if zoomlevel == "hour" %}, {{tweet.0|date:"H"}},0{% endif %}{% if zoomlevel == "minute" %}, {{tweet.0|date:"H"}}, {{tweet.0|date:"i"}}{% endif %}), {{tweet.1}}   ],
                    {% endfor %}
                ]
            }]
        });
    });
    </script>
{% endblock %}
