<div id="widgetvisualization-{{widget.pk}}" width="627" height="700" rel="{{widget.pk}}" class="widgetvisualizationdialog" title="{{widget.name}} results">

<div id="widget-lift-curve-{{widget.pk}}" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
<script type="text/javascript">
$(function () {
	
	var subtype = {%if input_dict.subtype %}'{{input_dict.subtype}}'{%else%}'-score'{%endif%};
	
	var tempVisible = 0;

	//var chart;
	$(document).ready(function drawNewChart() {
		chart = new Highcharts.Chart({
			chart: {
				renderTo: 'widget-lift-curve-{{widget.pk}}',
				zoomType: 'xy',
				type: 'line',
				height: 600,
				width: 600,
				animation: false,
				spacingRight: 30,
				spacingLeft: 0,
				//spacingTop:0,
				//marginTop: 10,
				spacingBottom: 15,
				//marginBottom: 60,
				//spacingBottom: 15,
				//marginBottom: 162,
				/*{% if input_dict.eps != '0' %}
				events: {
					selection: function(event){
						svg = this.series[0].group.element.parentNode.parentNode;
						eps_label = svg.getElementById('epsilon');
						if (event.xAxis) {
							eps_label.setAttribute('visibility', 'hidden');
						}
						else{
							eps_label.setAttribute('visibility', 'visible');
						}
					}
				},
				{% endif %}*/
			},
			events: {
				selection: function(event){
					chart.labels.enable =  false;
					return true;
				}
			},
			title: {
				text: '{{input_dict.title}}'
			},
			subtitle: {
				text: ' '
			},
			xAxis: {
				gridLineWidth: 1,
				lineWidth: 1,
				lineColor: 'black',
				tickColor: 'black',
				labels: {
					style: {
						color: 'black'
					}
				},
				min: 0,
				max: 1.,
				title: {
					text: 'Relative sample size',
					style:{ 
						fontSize: '11pt',
						color: 'black'
					}
				},
				startOnTick: true,
				endOnTick: true,
				showLastLabel: true,
				tickInterval: 0.1,
				/*plotBands: [{ // plot the y-axis
					color: 'black',//'rgb(192,208,224)',
					from: 0,
					to: 0.001
				}],*/
			},
			yAxis: {	
				gridLineWidth: 1,
				tickColor: 'black',
				lineWidth: 1,
				lineColor: 'black',
				labels: {
					style: {
						color: 'black'
					}
				},
				enabled: true,
				min: 0,
				max: 1.,
				title: {
					text: 'True positive rate',
					style:{ 
						fontSize: '12pt',
						color: 'black'
					}
				},
				tickWidth: 1,
				tickInterval: 0.1,
				//gridLineWidth: 0,
				/*{% if input_dict.eps != '0' %}
				plotBands: [{ // color the epsilon proximity
					color: 'rgb(192,208,224)',
					from: max_prec - eps_pr,
					to: max_prec-0.0011
				}],
				plotLines : [{
					value : max_prec,
					color : 'rgb(100,100,100)',//'black',
					dashStyle : 'longdash',
					width : 1
				}, {
					value : max_prec - eps_pr,
					color : 'rgb(100,100,100)',//'black',
					dashStyle : 'longdash',
					width : 1
				}]
				{% endif %}*/
			},
			tooltip: {
				useHTML: true,
				formatter: function() {
					if (this.series.type == 'line' && this.series.name != '_diag_random_'){
						return '<b>'+this.series.name+'</b><br/>'+
					'<table><tr>'+
					'<td class="ttip">Rel. sample size:</td><td class="ttip">' + this.x.toFixed(2) +
					'</td></tr><tr><td class="ttip">TP rate</td><td class="ttip">'+this.y.toFixed(2) +
						'</td></tr><tr><td class="ttip">'+
					((subtype == '-score') ? 'Threshold:</td><td class="ttip">'+ this.point.tr : 'Rank:</td><td class="ttip">'+ this.point.tr) +
					'</td></tr></table>'
					}
					else{
						return false
					}
				}
			},
			legend: {
				enabled: false,
				layout: 'horizontal', // delete from here to end of legend
				align: 'center',
				verticalAlign: 'bottom',
				x: 27,
				//y: 580,
				width: 500,
				floating: false,
				backgroundColor: '#FFFFFF',
				borderWidth: 1,
				itemWidth: 166,
				maxHeight: 83
			},
			plotOptions: {
				series:{
					turboThreshold: 5000,
				},
				spline: {
					lineWidth: 1,
					lineColor: 'rgb(100,100,100)',
					states: {
						hover: {
							enabled: true,
							lineWidth: 2
						}
					},
					marker: {
						symbol: 'circle',
						fillColor: 'rgb(100,100,100)',
						enabled: false,
						states: {
							hover: {
								enabled: true,
								radius: 5,
								lineWidth: 1
							}
						}
					},
					shadow: false,
					color : 'rgb(100,100,100)',
				},
				/*scatter: {
					marker: {
						radius: 5,
						symbol: 'circle',
						states: {
							hover: {
								enabled: true,
								lineColor: 'rgb(100,100,100)',

							}
						}
					},
					states: {
						hover: {
							marker: {
								enabled: false
							}
						}
					},
					cursor: 'pointer',
					point: {
						events: {
							click: function(event) {
								si = this.series.index;
								if (si-npoints == tempVisible){ // get parameter from SERVER
									chart.series[tempVisible].hide()
									tempVisible = 0;
								}
								else{
									chart.series[tempVisible>0 ? tempVisible : si-npoints].hide() // get points parameter
									//enableSer = chart.series[si-npoints].index;
									//chart.series[enableSer].show();
									chart.series[si-npoints].show();
									tempVisible = si-npoints;
								}
							}
						}
					},
					dataLabels: {
						enabled: true,
						align: 'right',
						x: -7,
						y: 0,
						style: {
							fontWeight: 'bold'
						},
						formatter: function() {
							return this.series.name;
						}
					},
				},*/

			},
			credits: {
				enabled: false
			},
			series: [
			// DIAGONAL
			{
				type: 'line',
				name: '_diag_random_',
				color: 'grey',
				data: [[0,0],[1,1]],
				zIndex: 0,
				lineWidth: 1,
				dashStyle: 'dash',
				shadow: false,
				showInLegend: false,
				states: {
					hover: {
						enabled: false
					}
				},
				marker: {
					enabled: false,
					states: {
						hover: {
							enabled: false
						}
					}
				},
			},
			
			// POINTS
			{% for item in input_dict.performance %}            
			{
				//type: 'scatter',
				name: '{{ item.name }}',
				data: [
				{% for point in item.LIFTpoints %}
				{ x:{{point.0}}, y:{{point.1}}, tr:'{{point.2}}' },
				{% endfor %}
				]
			},
			{% endfor %}             
			]
		}, function(chart){
			// Hide grid lines
			$.each($('#widget-lift-curve-{{widget.pk}} .highcharts-grid path'), 
			  function(i, elem) { 
					$(elem).attr('stroke-width','0');
			   });
		
			
			}
			/*for (var i = 9+npoints; i<9+2*npoints; i++){
					var series = chart.series[i].group.element,
					svg = series.parentNode.parentNode;
					// Place scatter point series/trackers before spline trackers
					svg.insertBefore(chart.trackerGroup.element, chart.trackerGroup.element.nextSibling); // ref node changed from "seriesGroup" to "trackerGroup" -> dataLabel placed before/under scatter (and spline) trackers
					svg.insertBefore(series, chart.trackerGroup.element.nextSibling );
			}
			// Place tooltip on top
			var ttip = svg.getElementById('tooltip')
			svg.insertBefore(ttip, svg.getElementById('printButton') ); */
			
			/*{% if input_dict.eps != '0' %}
			// Add epsilon label
			chart.renderer.text("<i>\u2195\u03b5</i>" , 572, mp_str)//025b, 03b5, 0190
						.attr({
							id: 'epsilon'
						})
						.css({
							color: '#3E576F',//color: '#4572A7',
							fontSize : '20px',
							fontFamily: 'Verdana'
						})
						.add();
			{% endif %}*/
		);//});
	});

});
</script>
</div>