<div id="widgetvisualization-{{widget.pk}}" width="627" height="700" rel="{{widget.pk}}" class="widgetvisualizationdialog" title="{{widget.name}} results">

<div id="widget-pr-space-{{widget.pk}}" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
<script type="text/javascript">
$(function () {

	{% if fbeta %}
		var beta = {% if fbeta != '1'%}{{fbeta}}{%else%}1{%endif%};
	{% else%}{%if input_dict.performance.0.fbeta %}
		var beta = {% if input_dict.performance.0.fbeta != '1'%}{{input_dict.performance.0.fbeta}}{%else%}1{%endif%};
	{% else %}
		var beta = 1;
	{%endif%}{%endif%}
	// Compute basic/grid F-isolines (0.1*i)
	var fs = [];
	var f = [];
	for (var i = 1; i <= 9; i += 1){
		f = [];
		fc = 0.1*i;
		x0 = Math.pow(beta,2) * fc *1/(-fc + 1 + Math.pow(beta,2)*1);
		range = 1 - x0;
		for (var j = 0; j <= 300; j += 1) {
				x = x0+j*range/300;
				f.push([x, fc*x/(Math.pow(beta,2)*(-fc+x) + x)]);
		}
		fs.push(f);
	}
	
	// function for computing F-isolines for algorithm points
	function makeSeries(r,p) {
	f = [];
	if (r < 0.01 || p < 0.01){
		return [];
	}
	fc = (1+Math.pow(beta,2))*r*p/(Math.pow(beta,2)*p+r);
	x0 = Math.pow(beta,2) * fc *1/(-fc + 1 + Math.pow(beta,2)*1);
	range = 1 - x0;
	delta = range/300;
	for (var j = 0; j <= 300; j += 1) {
		x = x0+j*delta;
		f.push([x, fc*x/(Math.pow(beta,2)*(-fc+x) + x)]);
	}
	return f;
	}

	// Algorithm performance points and their corresponding F-isolines
	var points = [
		{% for item in data %}
			[ {{ item.recall }}, {{ item.precision }}],
		{% endfor %}
	];
	var npoints = points.length;
	var pfs = [];
	for (var i = 0; i<npoints; i++){
		s = makeSeries(points[i][0], points[i][1]);
		pfs.push(s);
	}
	// Epsilon proximity evaluation
	/*var eps_pr = {{input_dict.eps}}; 
	if (eps_pr > 0){
		var precs = points.map(function(pair){return pair[1];});
		var max_prec = Math.max.apply(Math, precs);
		var mp_str = 70+(1-max_prec)*487+(eps_pr*100*5-20)/2//+'px';//eps_pr > 0.04 ? String(3+(1-max_prec)*497+(eps_pr*100*5-20)/2)+'px'// : String(3+(1-max_prec)*497-(eps_pr*100*5-20)/2)+'px' ;  *497
	}*/
	
	//console.log(pfs);
	var tempVisible = 0;

	var chart;
	$(document).ready(function() {
		chart = new Highcharts.Chart({
			chart: {
				renderTo: 'widget-pr-space-{{widget.pk}}',
				zoomType: 'xy',
				height: 600,
				width: 600,
				animation: false,
				spacingRight: 30,
				spacingLeft: 0,
				//spacingTop:0,
				//marginTop: 10,
				spacingBottom: 15,
				//marginBottom: 60,
				//spacingBottom: 15,
				//marginBottom: 162,
				/*{% if input_dict.eps != '0' %}
				events: {
					selection: function(event){
						svg = this.series[0].group.element.parentNode.parentNode;
						eps_label = svg.getElementById('epsilon');
						if (event.xAxis) {
							eps_label.setAttribute('visibility', 'hidden');
						}
						else{
							eps_label.setAttribute('visibility', 'visible');
						}
					}
				},
				{% endif %}*/
			},
			events: {
				selection: function(event){
				//alert("SEm tu");
					chart.labels.enable =  false;
					return true;
				}
			},
			title: {
				text: '{{input_dict.title}}'
			},
			subtitle: {
				text: ' '
			},
			xAxis: {
				lineWidth: 1,
				lineColor: 'black',
				tickColor: 'black',
				labels: {
					style: {
						color: 'black'
					}
				},
				min: 0,
				max: 1.,
				title: {
					text: 'Recall',
					style:{ 
						fontSize: '11pt',
						color: 'black'
					}
				},
				startOnTick: true,
				endOnTick: true,
				showLastLabel: true,
				tickInterval: 0.1,
				/*plotBands: [{ // plot the y-axis
					color: 'black',//'rgb(192,208,224)',
					from: 0,
					to: 0.001
				}],*/
			},
			yAxis: {			
				tickColor: 'black',
				lineWidth: 1,
				lineColor: 'black',
				labels: {
					style: {
						color: 'black'
					}
				},
				enabled: true,
				min: 0,
				max: 1.,
				title: {
					text: 'Precision',
					style:{ 
						fontSize: '12pt',
						color: 'black'
					}
				},
				tickWidth: 1,
				tickInterval: 0.1,
				gridLineWidth: 0,
				/*{% if input_dict.eps != '0' %}
				plotBands: [{ // color the epsilon proximity
					color: 'rgb(192,208,224)',
					from: max_prec - eps_pr,
					to: max_prec-0.0011
				}],
				plotLines : [{
					value : max_prec,
					color : 'rgb(100,100,100)',//'black',
					dashStyle : 'longdash',
					width : 1
				}, {
					value : max_prec - eps_pr,
					color : 'rgb(100,100,100)',//'black',
					dashStyle : 'longdash',
					width : 1
				}]
				{% endif %}*/
			},
			tooltip: {
				useHTML: true,
				formatter: function() {
					if (this.series.type == 'scatter'){ // 9 "grid" F-isolines + number of points
						return '<b>'+this.series.name+'</b><br/>'+
						'<table><tr>'+
						'<td class="ttip">Recall'+(('std_re' in this.point) ? ' (<i><span style="font-size:105%; margin-right:0.3em;">R\u0305</span></i>):</td><td class="ttip">' + this.x.toFixed(2) + '&#177;' + this.point.std_re.toFixed(2):":</td><td class='ttip'>"+ this.x.toFixed(2)) +
						'</td></tr><tr><td class="ttip">Precision'+(('std_pr' in this.point) ? ' (<i><span style="font-size:105%; margin-right:0.3em;">P\u0305</span></i>):</td><td  class="ttip">'+this.y.toFixed(2)+'&#177;'+ this.point.std_pr.toFixed(2):":</td><td class='ttip'>"+this.y.toFixed(2)) +
						'</td></tr><tr><td class="ttip">'+(('std_fs' in this.point) ? '<i><span style="font-size:105%;">F\u0305</span></i>' : '<i><span style="font-size:105%;">F</span></i>')+
						'<span style="vertical-align:-20%; font-size:70%;">'+{%if 'std_fs' in data.0 %}{{data.0.fbeta}}{%else%}beta{%endif%}+'</span>: ' +
						'</td><td class="ttip">'+ (('std_fs' in this.point) ? this.point.fs.toFixed(2) : ((1+Math.pow(beta,2))*this.x*this.y/(Math.pow(beta,2)*this.y+this.x)).toFixed(2)) +
						(('std_fs' in this.point) ? '&#177;' + this.point.std_fs.toFixed(2)+
						'</td></tr><tr><td class="ttip"><i><span style="font-size:105%;">F</span></i><span style="vertical-align:-20%; font-size:70%;">'+beta+
						'</span>(<i><span style="font-size:105%; margin-right:0.3em;">R\u0305</span></i>, <i><span style="font-size:105%; margin-right:0.3em;">P\u0305</span></i>): '+
						'</td><td class="ttip">'+((1+Math.pow(beta,2))*this.x*this.y/(Math.pow(beta,2)*this.y+this.x)).toFixed(2) : '') +
						'</td></tr></table>'
					}
					else{
						return '<b>F-isoline</b><br/>'+
						'<table><tr><td class="ttip">Recall:</td><td class="ttip">' + this.x.toFixed(2) +
						'</td></tr><tr><td class="ttip">Precision:</td><td class="ttip">'+ this.y.toFixed(2)+
						'</td></tr><tr><td class="ttip"><i><span style="font-size:105%;">F</span></i><span style="vertical-align:-20%; font-size:70%;">'+
						beta+'</span>:</td><td class="ttip">' +
						((1+Math.pow(beta,2))*this.x*this.y/(Math.pow(beta,2)*this.y+this.x)).toFixed(2)+
						'</td></tr></table>';
					}
				}
			},
			legend: {
				enabled: false,
				layout: 'horizontal', // delete from here to end of legend
				align: 'center',
				verticalAlign: 'bottom',
				x: 25,
				//y: 580,
				//width: 580,
				floating: false,
				backgroundColor: '#FFFFFF',
				borderWidth: 1,
				//itemWidth: 166,
				maxHeight: 83
			},
			plotOptions: {
				spline: {
					lineWidth: 1,
					lineColor: 'rgb(100,100,100)',
					states: {
						hover: {
							enabled: true,
							lineWidth: 2
						}
					},
					marker: {
						symbol: 'circle',
						fillColor: 'rgb(100,100,100)',
						enabled: false,
						states: {
							hover: {
								enabled: true,
								radius: 5,
								lineWidth: 1
							}
						}
					},
					shadow: false,
					color : 'rgb(100,100,100)',
				},
				scatter: {
					marker: {
						radius: 5,
						symbol: 'circle',
						states: {
							hover: {
								enabled: true,
								lineColor: 'rgb(100,100,100)',

							}
						}
					},
					states: {
						hover: {
							marker: {
								enabled: false
							}
						}
					},
					cursor: 'pointer',
					point: {
						events: {
							click: function(event) {
								si = this.series.index;
								if (si-npoints == tempVisible){ // get parameter from SERVER
									chart.series[tempVisible].hide()
									tempVisible = 0;
								}
								else{
									chart.series[tempVisible>0 ? tempVisible : si-npoints].hide() // get points parameter
									//enableSer = chart.series[si-npoints].index;
									//chart.series[enableSer].show();
									chart.series[si-npoints].show();
									tempVisible = si-npoints;
								}
							}
						}
					},
					dataLabels: {
						enabled: true,
						align: 'right',
						x: -7,
						y: 0,
						style: {
							fontWeight: 'bold'
						},
						formatter: function() {
							return this.series.name;
						}
					},
				},

			},
			credits: {
				enabled: false
			},
			series: [
			// F-isolines (0.1 * i)
			{
				type: 'spline',
				name: 'F-isoline (F-score = 0.1)',
				data: fs[0],
				showInLegend: false,
			}, {
				type: 'spline',
				name: 'F-isoline (F-score = 0.2)',
				data: fs[1],
				showInLegend: false,
			}, {
				type: 'spline',
				name: 'F-isoline (F-score = 0.3)',
				data: fs[2],
				showInLegend: false,
			}, {
				type: 'spline',
				name: 'F-isoline (F-score = 0.4)',
				data: fs[3],
				showInLegend: false,
			}, {
				type: 'spline',
				name: 'F-isoline (F-score = 0.5)',
				data: fs[4],
				showInLegend: false,
			}, {
				type: 'spline',
				name: 'F-isoline (F-score = 0.6)',
				data: fs[5],
				showInLegend: false,
			}, {
				type: 'spline',
				name: 'F-isoline (F-score = 0.7)',
				data: fs[6],
				showInLegend: false,
			}, {
				type: 'spline',
				name: 'F-isoline (F-score = 0.8)',
				data: fs[7],
				showInLegend: false,
			}, {
				type: 'spline',
				name: 'F-isoline (F-score = 0.9)',
				data: fs[8],
				showInLegend: false,
			},
			// POINT SPECIFIC F-isolines
			{% for item in input_dict.performance %}            
			{
				type: 'spline',
				name: 'Temp',
				data: pfs[{{forloop.counter0}}],
				zIndex: 0,
				visible: false,
				showInLegend: false,
			},
			{% endfor %} 

			// POINTS
			{% for item in input_dict.performance %}            
			{
				type: 'scatter',
				name: '{{ item.name }}',
				data: [{ x:{{ item.recall }}, y:{{ item.precision }}, {% if 'fscore' in item %}fs:{{item.fscore}},{% endif %}
						{% if 'std_re' in item %}std_re: {{item.std_re}},{% endif %}
						{% if 'std_pr' in item %}std_pr:{{item.std_pr}},{% endif %}
						{% if 'std_fs' in item %}std_fs:{{item.std_fs}}{% endif %}
					}]
			},
			{% endfor %}             
			]
		}, function(chart){
			for (var i = 9+npoints; i<9+2*npoints; i++){
					var series = chart.series[i].group.element,
					svg = series.parentNode.parentNode;
					// Place scatter point series/trackers before spline trackers
					svg.insertBefore(chart.trackerGroup.element, chart.trackerGroup.element.nextSibling); // ref node changed from "seriesGroup" to "trackerGroup" -> dataLabel placed before/under scatter (and spline) trackers
					svg.insertBefore(series, chart.trackerGroup.element.nextSibling );
			}
			// Place tooltip on top
			var ttip = svg.getElementById('tooltip')
			svg.insertBefore(ttip, svg.getElementById('printButton') );
			
			// Hide grid lines
			$.each($('#widget-pr-space-{{widget.pk}} .highcharts-grid path'), 
			  function(i, elem) { 
					$(elem).attr('stroke-width','0');
			   });
		
			$('#fiso').click(function(){
			//alert("the embedded")
				for (var i = 0; i<9; i++){
					var series = chart.series[i]
					if (series.visible){
						//if(i==0) {$('.fisotext').css('display', 'none');}
						series.hide();
						$('#fisocheck').attr('checked', false);
						$('#fiso').attr('class', 'btn btn-primary');
					}
					else{
						//if(i==0) {$('.fisotext').css('display', 'inherit');}
						series.show();
						$('#fisocheck').attr('checked', true);
						$('#fiso').attr('class', 'btn');
					}
				}
				
			});
			
			/*{% if input_dict.eps != '0' %}
			// Add epsilon label
			chart.renderer.text("<i>\u2195\u03b5</i>" , 572, mp_str)//025b, 03b5, 0190
						.attr({
							id: 'epsilon'
						})
						.css({
							color: '#3E576F',//color: '#4572A7',
							fontSize : '20px',
							fontFamily: 'Verdana'
						})
						.add();
			{% endif %}*/
		});
	});

});
</script>
</div>