<div id="widgetvisualization-{{widget.pk}}" width="627" height="700" rel="{{widget.pk}}" class="widgetvisualizationdialog" title="{{widget.name}} results">

<div id="widget-rate-curve-{{widget.pk}}" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
<script type="text/javascript">
$(function () {

    var tempVisible = 0;
	
	var subtype = {%if input_dict.subtype %}'{{input_dict.subtype}}'{%else%}'-score'{%endif%};

    var chart;
    $(document).ready(function() {
        chart = new Highcharts.Chart({
            chart: {
                renderTo: 'widget-rate-curve-{{widget.pk}}',
                zoomType: 'xy',
				type: 'spline',
				height: 600,
				width: 600,
                animation: false,
                spacingRight: 30,
                spacingLeft: 0,
				//spacingTop:0,
				//marginTop: 10,
                spacingBottom: 15,
				
            },
			colors: [
				'#4572A7', 
				'#AA4643', 
				'#89A54E', 
				'#80699B', 
				'#3D96AE', 
				'#DB843D', 
				'#92A8CD', 
				'#A47D7C', 
				'#B5CA92'],
			events: {
				selection: function(event){
					chart.labels.enable =  false;
					return true;
				}
			},
            title: {
                text: '{{input_dict.title}}'
            },
            subtitle: {
                text: ' '
            },
			xAxis: {
				gridLineWidth: 1,
				lineWidth: 1,
				lineColor: 'black',
				tickColor: 'black',
				labels: {
					style: {
						color: 'black'
					}
				},
            	min: 0,
            	max: 1.,
                title: {
                    text: 'Cost times probability (skew)',
                    style:{ 
                    	fontSize: '11pt',
						color: 'black'
                    }
                },
                startOnTick: true,
                endOnTick: true,
                showLastLabel: true,
                tickInterval: 0.1,
				
            },
            yAxis: {
                gridLineWidth: 1,
				lineWidth: 1,
				lineColor: 'black',			
				tickColor: 'black',
				labels: {
					style: {
						color: 'black'
					}
				},
            	enabled: true,
            	min: 0,
            	max: {{ input_dict.performance.0.RATEmax }},
                title: {
                    text: 'Expected loss',
                    style:{ 
                    	fontSize: '12pt',
						color: 'black'
                    }
                },
            	tickWidth: 1,
                tickInterval: 0.1,
            },
            tooltip: {
				useHTML: true,
                formatter: function() {
					if (this.series.type == 'spline' && this.series.name != '_diag_random_' && this.point.showtooltip){
						return '<b>'+this.series.name+'</b><br/>'+
					    '<table><tr>'+
						'<td class="ttip">Skew:</td><td class="ttip">' + this.x.toFixed(2) +
						'</td></tr><tr><td class="ttip">Loss:</td><td class="ttip">'+this.y.toFixed(2) +
						'</td></tr><tr><td class="ttip">'+
						((subtype == '-score') ? 'Threshold:</td><td class="ttip">'+ this.point.tr : 'Rank:</td><td class="ttip">'+ this.point.tr) +
						
						'</td></tr></table>'
					}
					else return false;
                }
            },
            legend: {
            	enabled: false,
                layout: 'horizontal', 
                align: 'center',
                verticalAlign: 'bottom',
                x: 27,
				width: 500,
                floating: false,
                backgroundColor: '#FFFFFF',
                borderWidth: 1,
				itemWidth: 166,
				maxHeight: 83
            },
            plotOptions: {
				series:{
					turboThreshold: 5000,
				},
			
                spline: {
					lineWidth: 2,
					//lineColor: 'rgb(100,100,100)',
					states: {
						hover: {
							enabled: true,
							lineWidth: 2
						}
					},
					marker: {
						//symbol: 'square',
						//fillColor: 'rgb(100,100,100)',
						enabled: false,
						states: {
							hover: {
								enabled: true,
								radius: 5,
								lineWidth: 1
							}
						}
					},
					shadow: true,
					//color : 'rgb(100,100,100)',
				},
                scatter: {
                    marker: {
                        radius: 5,
                        symbol: 'circle',
                        states: {
                            hover: {
                                enabled: true,
                                lineColor: 'rgb(100,100,100)',

                            }
                        }
                    },
                    states: {
                        hover: {
                            marker: {
                                enabled: false
                            }
                        }
                    },
					cursor: 'pointer',
                    point: {
						events: {
							click: function(event) {
								si = this.series.index;
								if (si-npoints == tempVisible){ // get parameter from SERVER
									chart.series[tempVisible].hide()
									tempVisible = 0;
								}
								else{
									chart.series[tempVisible>0 ? tempVisible : si-npoints].hide() // get points parameter
									chart.series[si-npoints].show();
									tempVisible = si-npoints;
								}
							}
						}
                	},
                    dataLabels: {
						enabled: true,
						align: 'right',
						x: -7,
						y: 0,
						style: {
							fontWeight: 'bold'
						},
						formatter: function() {
							return this.series.name;
						}
                	},
                },

            },
            credits: {
				enabled: false
			},
            series: [
			// RANDOM CLASSIFIER PERFORMANCE
			{
				type: 'spline',
                name: '_para_random_',
				color: 'grey',
                //data: [[0, 0], [0.125, 0.21875], [0.25, 0.375], [0.375, 0.46875], [0.5, 0.5], [0.625, 0.46875], [0.75, 0.375], [0.875, 0.21875], [1,0]],
                data: [[0,0], [0.1,0.18], [0.2,0.32], [0.3, 0.42], [0.4,0.48], [0.5,0.5], [0.6,0.48], [0.7,0.42], [0.8,0.32], [0.9,0.18], [1,0]],
				zIndex: 0,
				lineWidth: 1,
				dashStyle: 'dash',
				shadow: false,
                showInLegend: false,
				states: {
					hover: {
						enabled: false
					}
				},
				marker: {
					enabled: false,
					states: {
						hover: {
							enabled: false
						}
					}
				},
			},
			
            // POINTS
            {% for item in input_dict.performance %}       
			{% for interval in item.RATEintervals %}			
            {
				color: Highcharts.getOptions().colors[{{ interval.0.3 }} - 1],
				name: '{{ item.name }}',
				marker: {
					enabled: true,
					symbol: Highcharts.getOptions().symbols[{{ interval.0.3 }}]
					},
                data: [
				{% for point in interval %}
				{% if point.2%}
					{ x: {{ point.0 }}, y: {{ point.1 }}, tr: {{ interval.0.2}}, showtooltip: true },
				{% else %}
					{
						x: {{ point.0 }}, 
						y: {{ point.1 }},
						showtooltip: false,
						marker: {
							enabled: false,
							//Workaround: Due to highcharts bug hover cannot be disabled, so the image is a 1x1 transparent .png
							symbol: 'url({{STATIC_URL}}spot.png)'
							},
					},
				{% endif %}
				{% endfor %}
					]
            },
			{% endfor %}
            {% endfor %}         
            ]
        }, function(chart){
			// Hide grid lines
			$.each($('#widget-rate-curve-{{widget.pk}} .highcharts-grid path'), 
			  function(i, elem) { 
					$(elem).attr('stroke-width','0');
			   });
        });
   });

});
</script>
</div>