<div id="widgetvisualization-{{widget.pk}}" width="627" height="700" rel="{{widget.pk}}" class="widgetvisualizationdialog" title="{{widget.name}} results">

<div id="widget-roc-space-{{widget.pk}}" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
<script type="text/javascript">
$(function () {
			
	var tempVisible = 0;

	//var chart;
	$(document).ready(function() {
		chart = new Highcharts.Chart({
			chart: {
				renderTo: 'widget-roc-space-{{widget.pk}}',
				zoomType: 'xy',
				height: 600,
				width: 600,
				animation: false,
				spacingRight: 30,
				spacingLeft: 0,
				//spacingTop:0,
				//marginTop: 10,
				spacingBottom: 15,
			},
			events: {
				selection: function(event){
					chart.labels.enable =  false;
					return true;
				}
			},
			title: {
				text: '{{input_dict.title}}'
			},
			subtitle: {
				text: ' '
			},
			xAxis: {
				gridLineWidth: 1,
				lineWidth: 1,
				lineColor: 'black',
				tickColor: 'black',
				labels: {
					style: {
						color: 'black'
					}
				},
				min: 0,
				max: 1.,
				title: {
					text: 'False positive rate',
					style:{ 
						fontSize: '11pt',
						color: 'black'
					}
				},
				startOnTick: true,
				endOnTick: true,
				showLastLabel: true,
				tickInterval: 0.1,
			},
			yAxis: {
				gridLineWidth: 1,			
				tickColor: 'black',
				lineWidth: 1,
				lineColor: 'black',
				labels: {
					style: {
						color: 'black'
					}
				},
				enabled: true,
				min: 0,
				max: 1.,
				title: {
					text: 'True positive rate',
					style:{ 
						fontSize: '12pt',
						color: 'black'
					}
				},
				tickWidth: 1,
				tickInterval: 0.1,
			},
			tooltip: {
				useHTML: true,
				formatter: function() {
						return '<b>'+this.series.name+'</b><br/>'+
						'<table><tr>'+
						'<td class="ttip">FPR:</td><td class="ttip">' + this.x.toFixed(2) +
						'</td></tr><tr><td class="ttip">TPR:</td><td class="ttip">'+this.y.toFixed(2) +
						'</td></tr></table>'
				}
			},
			legend: {
				enabled: false,
				layout: 'horizontal', // delete from here to end of legend
				align: 'center',
				verticalAlign: 'bottom',
				x: 27,
				//y: 580,
				width: 500,
				floating: false,
				backgroundColor: '#FFFFFF',
				borderWidth: 1,
				itemWidth: 166,
				maxHeight: 83
			},
			plotOptions: {
				spline: {
					lineWidth: 1,
					lineColor: 'rgb(100,100,100)',
					states: {
						hover: {
							enabled: true,
							lineWidth: 2
						}
					},
					marker: {
						symbol: 'circle',
						fillColor: 'rgb(100,100,100)',
						enabled: false,
						states: {
							hover: {
								enabled: true,
								radius: 5,
								lineWidth: 1
							}
						}
					},
					shadow: false,
					color : 'rgb(100,100,100)',
				},
				scatter: {
					marker: {
						radius: 5,
						symbol: 'circle',
						states: {
							hover: {
								enabled: true,
								lineColor: 'rgb(100,100,100)',

							}
						}
					},
					states: {
						hover: {
							marker: {
								enabled: false
							}
						}
					},
					cursor: 'pointer',
					
					dataLabels: {
						enabled: true,
						align: 'right',
						x: -7,
						y: 0,
						style: {
							fontWeight: 'bold'
						},
						formatter: function() {
							return this.series.name;
						}
					},
				},

			},
			credits: {
				enabled: false
			},
			series: [
			// DIAGONAL
			/*{
				type: 'line',
				name: '_diag_random_',
				color: 'grey',
				data: [[0,0],[1,1]],
				zIndex: 0,
				lineWidth: 1,
				dashStyle: 'dash',
				shadow: false,
				showInLegend: false,
				states: {
					hover: {
						enabled: false
					}
				},
				marker: {
					enabled: false,
					states: {
						hover: {
							enabled: false
						}
					}
				},
			},*/
			
			// POINTS
			{% for item in input_dict.performance %}            
			{
				type: 'scatter',
				name: '{{ item.name }}',
				data: [ [{{item.fpr}}, {{item.tpr}}],
				/*{ x:{{ item.fpr }}, y:{{ item.precision }}, fs:{{item.fscore}},
						{% if 'std_re' in item %}std_re: {{item.std_re}},{% endif %}
						{% if 'std_pr' in item %}std_pr:{{item.std_pr}},{% endif %}
						{% if 'std_fs' in item %}std_fs:{{item.std_fs}}{% endif %}
					}*/
				]
			},
			{% endfor %}             
			]
		}, function(chart){
			/*for (var i = 9+npoints; i<9+2*npoints; i++){
					var series = chart.series[i].group.element,
					svg = series.parentNode.parentNode;
					// Place scatter point series/trackers before spline trackers
					svg.insertBefore(chart.trackerGroup.element, chart.trackerGroup.element.nextSibling); // ref node changed from "seriesGroup" to "trackerGroup" -> dataLabel placed before/under scatter (and spline) trackers
					svg.insertBefore(series, chart.trackerGroup.element.nextSibling );
			}
			// Place tooltip on top
			var ttip = svg.getElementById('tooltip')
			svg.insertBefore(ttip, svg.getElementById('printButton') );
			*/
			
			// Hide grid lines
			$.each($('#widget-roc-space-{{widget.pk}} .highcharts-grid path'), 
			  function(i, elem) { 
					$(elem).attr('stroke-width','0');
			   });
		
			
		});
	});

});
</script>
</div>