<div id="widgetvisualization-{{widget.pk}}" rel="{{widget.pk}}" class="widgetvisualizationdialog" title="{{widget.name}} visualization" width="700px" height="670px">
	<div style="width:620px; margin: 0 auto;">
		Input model: {{ model_name }}<br><br>
		<form>
		<div id="weight_charts_tabs" style="margin-bottom: 10px;">
			<ul>
				<li><a href="#weights-1">Weights pie chart</a></li>
				<li><a href="#weights-2">Weights bar chart</a></li>
			</ul>
			<div id="weights-1"></div>
			<div id="weights-2"></div>
		</div>
		<div id="alt_charts_tabs" style="margin-bottom: 10px;">
			<ul>
				<li><a href="#alts-1">Alternatives column chart</a></li>
				<li><a href="#alts-2">Attribute values chart</a></li>
			</ul>
			<div id="alts-1"></div>
			<div id="alts-2"></div>
		</div>
		<input type="hidden" name="widget_id" value="{{widget.pk}}"/>
		</form>
		<script type="text/javascript">
		$(function () {
		
			// Pretty tab buttons.
			$("#weight_charts_tabs").tabs({
				collapsible: true
			});
			
			$("#alt_charts_tabs").tabs({
				collapsible: true,
				selected: -1
			});
		
			$(document).ready(function(){ 
				plot();
			});

			// Plots for the selected attribute.
			function plot() {
				
				// Weights barchart
				new Highcharts.Chart({
		            chart: {
		                renderTo: 'weights-1',
		                plotBackgroundColor: null,
		                plotBorderWidth: null,
		                plotShadow: false
		            },
		            title: {
		                text: 'Weights',
		                x: -20 //center
		            },
		            tooltip: {
		                pointFormat: '{series.name}: <b>{point.percentage}%</b>',
		            	percentageDecimals: 1
		            },
		            plotOptions: {
		                pie: {
		                    allowPointSelect: true,
		                    cursor: 'pointer',
		                    dataLabels: {
		                        enabled: true,
		                        color: '#000000',
		                        connectorColor: '#000000',
		                        formatter: function() {
		                            return '<b>'+ this.point.name +'</b>: '+ this.percentage +' %';
		                        }
		                    }
		                }
		            },
		            series: [{
		                type: 'pie',
		                name: 'Weights',
		                data: {{ weight_shares|safe }}
		            }],
		            credits: {
		                enabled: false
		            },
		        });
		        
		        // Weights bar chart
				new Highcharts.Chart({
		            chart: {
		                renderTo: 'weights-2',
		                type: 'bar'
		            },
		            title: {
		                text: 'Weights',
		                x: -20 //center
		            },
		             xAxis: {
		                categories: {{ attributes|safe }},
		                title: {
		                    text: null
		                }
		            },
		            yAxis: {
		                min: 0,
		                title: {
		                    text: 'Weight'
		                },
		                labels: {
		                    overflow: 'justify'
		                }
		            },
		            tooltip: {
		                formatter: function() {
		                    return ''+
		                        this.series.name +': '+ this.y + '%';
		                }
		            },
		            plotOptions: {
		                bar: {
		                    dataLabels: {
		                        enabled: true
		                    }
		                }
		            },
		            credits: {
		                enabled: false
		            },
		            series: {{ weights_bar|safe }},
		            legend: { 
		            	enabled: false 
		            }
		        });
		        
		        // Alternatives column chart
				new Highcharts.Chart({
		            chart: {
		                renderTo: 'alts-1',
		                type: 'column'
		            },
		            title: {
		                text: 'Scores',
		                x: -20 //center
		            },
		            xAxis: {
		                categories: {{ alternatives|safe }},
		                title: {
		                    text: null
		                }
		            },
		            yAxis: {
		                min: 0,
		                title: {
		                    text: 'Score'
		                },
		                labels: {
		                    overflow: 'justify'
		                }
		            },
		            tooltip: {
		                formatter: function() {
		                    return ''+
		                        this.series.name +': '+ this.y;
		                }
		            },
		            plotOptions: {
		                column: {
		                    pointPadding: 0.2,
		                    borderWidth: 0
		                }
		            },
		            credits: {
		                enabled: false
		            },
		            series: {{ values_column|safe }},
		            legend: { 
		            	enabled: false 
		            }
		        });
		        
		      // Attribute values chart
		      new Highcharts.Chart({
		            chart: {
		                renderTo: 'alts-2',
		                type: 'bar'
		            },
		            title: {
		                text: 'Values',
		                x: -20 //center
		            },
		             xAxis: {
		                categories: {{ attributes|safe }},
		                title: {
		                    text: null
		                }
		            },
		            yAxis: {
		                min: 0,
		                title: {
		                    text: 'Value'
		                },
		                labels: {
		                    overflow: 'justify'
		                }
		            },
		            tooltip: {
		                formatter: function() {
		                    return ''+
		                        this.series.name +': '+ this.y ;
		                }
		            },
		            credits: {
		                enabled: false
		            },
		            series: {{ alt_data|safe }},
		        });
			}
		});
		</script>
	</div>
</div>