<div id="widgetvisualization-{{widget.pk}}" rel="{{widget.pk}}" class="widgetvisualizationdialog" title="{{widget.name}} visualization" width="700px" height="670px">
    <div style="width:620px; margin: 0 auto;">
        <form>
        <div id="bar_chart{{widget.pk}}" style="margin-bottom: 10px;">
        </div>
        <input type="hidden" name="widget_id" value="{{widget.pk}}"/>
        </form>
        <script type="text/javascript">
        $(function () {
            $(document).ready(function(){ 
                plot();
            });
            // Plots for the selected attribute.
            function plot() {
                // Weights barchart
                new Highcharts.Chart({
                    chart: {
                        renderTo: 'bar_chart{{widget.pk}}',
                        type: 'bar'
                    },
                    title: {
                        text: 'Subgroup BAR visualization'
                    },
                    subtitle: {
                        text: 'Model: {{ model_name }}'
                    },
                    xAxis: [{
                        categories: {{subgroups|safe}},
                        reversed: false
                    }],
                    yAxis: {
                        title: {
                            text: null
                        },
                        labels: {
                            formatter: function(){
                                return Math.abs(this.value);
                            }
                        },
                        min: -1.0,
                        max: 1.0
                    },
                    plotOptions: {
                        series: {
                            stacking: 'normal'
                        }
                    },
                    tooltip: {
                        formatter: function() {
                            return ''+
                                this.series.name +': '+ Math.abs(this.y.toFixed(3));
                        }
                    },
                    series: [{
                        name: 'False positive rate',
                        data: {{fpr|safe}}
                    }, {
                        name: 'True positive rate',
                        data: {{tpr|safe}}
                    }],
                    credits: {
                        enabled: false
                    }
                });
            }
        });
        </script>
    </div>
</div>