<div id="widgetvisualization-{{widget.pk}}" rel="{{widget.pk}}" class="widgetvisualizationdialog" title="{{widget.name}} visualization" width="600px" height="600px">
<div style="width:580px;">
Select the attribute to perform sensitivity analysis on.<br><br>
<form>
<div id="radio" style="margin-bottom: 10px; text-align: center;">
{% for att in attributes %}
	<input type="radio" class="target_att" name="target{{widget.pk}}" id="target{{widget.pk}}{{att}}" value="{{att}}" {% if forloop.first %}checked="checked"{% endif %}> <label for="target{{widget.pk}}{{att}}">{{att}}</label></input>
{% endfor %}
</div>
<input type="hidden" name="widget_id" value="{{widget.pk}}"/>
</form>
<script type="text/javascript">
$(function () {

	// Pretty radio buttons.
	$("#radio").buttonset();

	// Load data points.
	var data_points = {{ data_points|safe }};
	var chart;

	$(document).ready(function(){ 
		plot("{{attributes.0}}");
	});

	// Handles radio button selection events.
	$("form input[class=target_att]").change(function () {
		var target_att = $("form input[class=target_att]:checked").val();
		plot(target_att);
	});

	// Plots for the selected attribute.
	function plot(target_att) {
		chart = new Highcharts.Chart({
            chart: {
                renderTo: 'container',
                type: 'line',
                marginRight: 130,
                marginBottom: 40
            },
            title: {
                text: 'Sensitivity analysis',
                x: -20 //center
            },
            subtitle: {
                text: 'Changing weight for attribute: ' + target_att,
                x: -20
            },
            xAxis: {
            	title: { 
            		text: 'Weight of \'' + target_att + '\''
            	}
            },
            yAxis: {
                title: {
                    text: 'Score'
                },
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                }]
            },
            tooltip: {
                formatter: function() {
                        return '<b>'+ this.series.name +'</b><br/>'+
                        this.x +': '+ this.y.toFixed(3);
                }
            },
            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'top',
                x: -10,
                y: 100,
                borderWidth: 0
            },
            series: data_points[target_att],
			credits: {
	            enabled: false
	        },
        });
	}
});
</script>
<div id="container" style="min-width: 580px; min-height: 480px margin: 0 auto"></div>
</div>
</div>