<div id="widgetinteract-{{widget.pk}}" rel="{{widget.pk}}" class="widgetinteractdialog" title="{{widget.name}} interaction" width="700" height="600">
    <div>
        Use the sliders to adjust the weights.<br><br>
        <form>
            <table cellpadding="0" cellspacing="0" border="0" class="display" id="weight-sel-{{widget.pk}}">
                <thead>
                    <tr>
                        <th>Attribute</th>
                        <th>Properties</th>
                        <th>Weight</th>
                    </tr>
                </thead>
                <tbody>
                {% for att, def_range in attributes %}
                    {% with count=forloop.counter0 pk=widget.pk %}
                    <tr>
                        <td>
                            {{att}}
                        </td>
                        <td>
                            <span id="display-direction-{{pk}}-{{count}}">Maximize</span>, 
                            Range: [<span id="display-rangeMin-{{pk}}-{{count}}">{{def_range.0|floatformat:2}}</span>, 
                            <span id="display-rangeMax-{{pk}}-{{count}}">{{def_range.1|floatformat:2}}</span>] 
                            <a href="" id="edit-properties-{{pk}}-{{count}}">edit</a>
                            <input id="direction-{{pk}}-{{count}}" name="direction-{{pk}}-{{count}}" type="hidden" value="max"/>
                            <input id="rangeMin-{{pk}}-{{count}}" name="rangeMin-{{pk}}-{{count}}" type="hidden" value="{{def_range.0}}"/>
                            <input id="rangeMax-{{pk}}-{{count}}" name="rangeMax-{{pk}}-{{count}}" type="hidden" value="{{def_range.1}}"/>
                        </td>
                        <td>
                            <div class="weight-slider" style="width:150px; float: left" id="slider-{{pk}}-{{count}}"></div>
                            <input type="number" style="width:40px; display:inline;" name="weight-{{pk}}-{{count}}" id="weight-{{pk}}-{{count}}" value="0"/>
                        </td>
                    </tr>
                    {% endwith %}
                {% endfor %}
                </tbody>
            </table>
            {% if unusable_attributes %}
            <p>The following non-continues variables are unusable, as this model supports only continuous attributes.</p>
            {% endif %}
            {% for att in unusable_attributes %}
            <ul>
                <li>{{att}}</li>
            </ul>
            {% endfor %}
            <input type="hidden" name="widget_id" value="{{widget.pk}}"/>
        </form>
        <br/>
        <button id="normalize-button-{{widget.pk}}">Normalize weights!</button>
        <button id="reset-button-{{widget.pk}}">Reset!</button>
    </div>

    <div id="edit-attribute-properties-{{widget.pk}}">
        <form>
            <fieldset>
                <label for="direction">Maximize or minimize the attribute</label>
                <select name="direction" id="dialog-att-direction-{{widget.pk}}" class="text ui-widget-content ui-corner-all">
                    <option value="max">Maximize</option>
                    <option value="min">Minimize</option>
                </select>
                <label for="lower-bound">Range lower bound</label>
                <input type="text" name="lower-bound" id="dialog-att-lower-bound-{{widget.pk}}" value="" class="text ui-widget-content ui-corner-all" />
                <label for="upper-bound">Range upper bound</label>
                <input type="text" name="upper-bound" id="dialog-att-upper-bound-{{widget.pk}}" value="" class="text ui-widget-content ui-corner-all" />
            </fieldset>
        </form>
        <div id="dialog-error-{{widget.pk}}" class="dialog-error">
        </div>
    </div>

    <!-- Style -->
    <style type="text/css">
    .weight-slider {
        float: left;
        margin-right: 10px;
    }

    .dialog-error {
        margin-top: 15px;
        color: red;
    }
    </style>

    <!-- Behaviour -->
    <script type="text/javascript">
        // Dialog
        $('#edit-attribute-properties-{{widget.pk}}').dialog({
            autoOpen: false,
            resizable: false,
            height: 300,
            modal: true,
            buttons: {
                'Cancel' : function() {
                    $(this).dialog('close');
                },
                'Apply' : function() {
                    $(this).dialog('close');
                    var attId = $(this).data('attId');
                    // Get the edited options.
                    var dir_select = $('#dialog-att-direction-{{widget.pk}}')
                                        .find('option:selected');
                    var direction = dir_select
                                        .text();
                    var dir_value = dir_select
                                        .val();
                    var rangeMin = $('#dialog-att-lower-bound-{{widget.pk}}')
                                        .val();
                    var rangeMax = $('#dialog-att-upper-bound-{{widget.pk}}')
                                        .val();

                    rangeMin = parseFloat(rangeMin);
                    rangeMax = parseFloat(rangeMax);

                    // Check for sane range values
                    if (isNaN(rangeMin) || isNaN(rangeMax)) {
                        $('#dialog-error-{{widget.pk}}').text('Problem: Illegal range value.');
                        $(this).dialog('open');
                        return;
                    } else if (rangeMin > rangeMax) {
                        $('#dialog-error-{{widget.pk}}').text('Problem: Lower range value is larger than the upper.');
                        $(this).dialog('open');
                        return;
                    }

                    // Save them
                    $('#display-direction-' + attId).text(direction);
                    $('#display-rangeMin-' + attId).text(rangeMin);
                    $('#display-rangeMax-' + attId).text(rangeMax);
                    $('#direction-' + attId).val(dir_value);
                    $('#rangeMin-' + attId).val(rangeMin);
                    $('#rangeMax-' + attId).val(rangeMax);

                    // Clear errors
                    $('#dialog-error-{{widget.pk}}').text('');
                }
            }
        });

        // Slider code.
        {% for att, def_range in attributes %}
            {% with count=forloop.counter0 pk=widget.pk %}
                $('#edit-properties-{{pk}}-{{count}}').on('click', function(e){
                    e.preventDefault();

                    // Current values
                    var attId = '{{pk}}-{{count}}';
                    var direction = $('#display-direction-' + attId).text();
                    var rangeMin = $('#display-rangeMin-' + attId).text();
                    var rangeMax = $('#display-rangeMax-' + attId).text();

                    // Set the current values
                    $('#dialog-att-direction-{{pk}}')
                        .find('option')
                        .filter(function() {
                            return $(this).text() == direction;
                        })
                        .attr('selected', true);
                    $('#dialog-att-lower-bound-{{pk}}').val(rangeMin);
                    $('#dialog-att-upper-bound-{{pk}}').val(rangeMax);

                    // Show the dialog
                    $('#edit-attribute-properties-{{widget.pk}}')
                        .data('attId', attId)
                        .dialog('option', 'title', 'Properties of "{{att}}"')
                        .dialog('open');
                });

                $("#slider-{{pk}}-{{count}}").slider({
                    value:0,
                    min:0,
                    max:100,
                    slide: function( event, ui ) {
                        $("#weight-{{pk}}-{{count}}").val($("#slider-{{pk}}-{{count}}").slider("value"));
                    },
                    stop: function ( event, ui ) {
                        $("#weight-{{pk}}-{{count}}").val($("#slider-{{pk}}-{{count}}").slider("value"));
                    }
                });
                // Change the slider position when manually editing the weight. 
                $("#weight-{{pk}}-{{count}}").on('change', function() {
                    $("#slider-{{pk}}-{{count}}").slider("value", $("#weight-{{pk}}-{{count}}").val());
                });
            {% endwith %}
        {% endfor %}

        // Data table code.
        $('#weight-sel-{{widget.pk}}').dataTable( {
            "bJQueryUI": true,
            "bPaginate" : false,
            "bSort" : false,
            "bFilter" : false
        });
        // Normalization code.
        $("#normalize-button-{{widget.pk}}").button().click(function() {
            var weight_elements = $('[id^="weight-{{widget.pk}}"]');
            var weight_sum = 0;
            weight_elements.each(function(index) {
                weight_sum += parseFloat($(this).val());
            });
            if (weight_sum > 0) {
                weight_elements.each(function(index) {
                    //round(100 * parseFloat($(this).val()) / weight_sum)
                    $(this).val(Math.round(100 * parseFloat($(this).val()) / weight_sum));
                    $(this).change();
                });
            }
        });
        // Reset button code.
        $("#reset-button-{{widget.pk}}").button().click(function() {
            $('[id^="weight-{{widget.pk}}"]').each(function() {
                $(this).val(0);
                $(this).change();
            });
        });
    </script>
</div>