<div id="widgetinteract-{{widget.pk}}" height="500" rel="{{widget.pk}}" class="widgetinteractdialog" title="{{widget.name}} wants your input!">
<form id="interactionform-{{widget.pk}}" name="interactionform-{{widget.pk}}">

<b>Select variables</b><br>
<label><input type="checkbox" value="APOE4" name="variables" style="display:inline;width:auto;"> APOE4<br></label>
<label><input type="checkbox" value="CDRSB_bl" name="variables" style="display:inline;width:auto;"> CDRSB_bl<br></label>
<label><input type="checkbox" value="ADAS13_bl" name="variables" style="display:inline;width:auto;"> ADAS13_bl<br></label>
<label><input type="checkbox" value="MMSE_bl" name="variables" style="display:inline;width:auto;"> MMSE_bl<br></label>
<label><input type="checkbox" value="RAVLT_immediate_bl" name="variables" style="display:inline;width:auto;"> RAVLT_immediate_bl<br></label>
<label><input type="checkbox" value="RAVLT_learning_bl" name="variables" style="display:inline;width:auto;"> RAVLT_learning_bl<br></label>
<label><input type="checkbox" value="RAVLT_forgetting_bl" name="variables" style="display:inline;width:auto;"> RAVLT_forgetting_bl<br></label>
<label><input type="checkbox" value="RAVLT_perc_forgetting_bl" name="variables" style="display:inline;width:auto;"> RAVLT_perc_forgetting_bl<br></label>
<label><input type="checkbox" value="FAQ_bl" name="variables" style="display:inline;width:auto;"> FAQ_bl<br></label>
<label><input type="checkbox" value="Ventricles_bl" name="variables" style="display:inline;width:auto;"> Ventricles_bl<br></label>
<label><input type="checkbox" value="Hippocampus_bl" name="variables" style="display:inline;width:auto;"> Hippocampus_bl<br></label>
<label><input type="checkbox" value="WholeBrain_bl" name="variables" style="display:inline;width:auto;"> WholeBrain_bl<br></label>
<label><input type="checkbox" value="Entorhinal_bl" name="variables" style="display:inline;width:auto;"> Entorhinal_bl<br></label>
<label><input type="checkbox" value="Fusiform_bl" name="variables" style="display:inline;width:auto;"> Fusiform_bl<br></label>
<label><input type="checkbox" value="MidTemp_bl" name="variables" style="display:inline;width:auto;"> MidTemp_bl<br></label>
<label><input type="checkbox" value="ICV_bl" name="variables" style="display:inline;width:auto;"> ICV_bl<br></label>
<label><input type="checkbox" value="MOCA_bl" name="variables" style="display:inline;width:auto;"> MOCA_bl<br></label>
<label><input type="checkbox" value="EcogPtMem_bl" name="variables" style="display:inline;width:auto;"> EcogPtMem_bl<br></label>
<label><input type="checkbox" value="EcogPtLang_bl" name="variables" style="display:inline;width:auto;"> EcogPtLang_bl<br></label>
<label><input type="checkbox" value="EcogPtVisspat_bl" name="variables" style="display:inline;width:auto;"> EcogPtVisspat_bl<br></label>
<label><input type="checkbox" value="EcogPtPlan_bl" name="variables" style="display:inline;width:auto;"> EcogPtPlan_bl<br></label>
<label><input type="checkbox" value="EcogPtOrgan_bl" name="variables" style="display:inline;width:auto;"> EcogPtOrgan_bl<br></label>
<label><input type="checkbox" value="EcogPtDivatt_bl" name="variables" style="display:inline;width:auto;"> EcogPtDivatt_bl<br></label>
<label><input type="checkbox" value="EcogPtTotal_bl" name="variables" style="display:inline;width:auto;"> EcogPtTotal_bl<br></label>
<label><input type="checkbox" value="EcogSPMem_bl" name="variables" style="display:inline;width:auto;"> EcogSPMem_bl<br></label>
<label><input type="checkbox" value="EcogSPLang_bl" name="variables" style="display:inline;width:auto;"> EcogSPLang_bl<br></label>
<label><input type="checkbox" value="EcogSPVisspat_bl" name="variables" style="display:inline;width:auto;"> EcogSPVisspat_bl<br></label>
<label><input type="checkbox" value="EcogSPPlan_bl" name="variables" style="display:inline;width:auto;"> EcogSPPlan_bl<br></label>
<label><input type="checkbox" value="EcogSPOrgan_bl" name="variables" style="display:inline;width:auto;"> EcogSPOrgan_bl<br></label>
<label><input type="checkbox" value="EcogSPDivatt_bl" name="variables" style="display:inline;width:auto;"> EcogSPDivatt_bl<br></label>
<label><input type="checkbox" value="EcogSPTotal_bl" name="variables" style="display:inline;width:auto;"> EcogSPTotal_bl<br></label>
<label><input type="checkbox" value="FDG_bl" name="variables" style="display:inline;width:auto;"> FDG_bl<br></label>
<label><input type="checkbox" value="AV45_bl" name="variables" style="display:inline;width:auto;"> AV45_bl<br></label>
<input type="hidden" name="widget_id" value="{{widget.pk}}">
</form>
</div>